::placeholder {
  color: rgb(167, 167, 167);
}

.input-label {
  display: inline-block;
  width: 11vw;
  font-size: 1.5vw;
  text-align: right;
  margin-right: 1vw;
}

.input-header-position {
  vertical-align: middle;
}

.input-style {
  border-radius: .5vw;
  width:  30vw;
  font-size: 1.5vw;
}

.input-width {
  width: 80%;
}

.other-link {
  font-size: 1.5vw;
}

.login-button-style {
  border: 2.5px solid rgb(32, 32, 219);
  border-radius: 2vw;
  background: linear-gradient(rgb(199, 216, 249), rgb(2, 85, 194));
  color: white;
  font-size: 3vw;
  font-family: serif;
  font-weight: bold;
  letter-spacing: 2px;
  padding: .1vw .8vw;
  transition: .2s;
}

.logout-button-style {
  border: 2.5px solid rgb(211, 18, 18);
  border-radius: 2vw;
  background: linear-gradient(rgb(250, 199, 199), rgb(199, 16, 31));
  color: white;
  font-size: 1.5vw;
  font-family: serif;
  font-weight: bold;
  letter-spacing: 2px;
  padding: .1vw .8vw;
  transition: .2s;
}

.login-button-style:hover,
.logout-button-style:hover {
  cursor: pointer;
  opacity: .7;
}

.tip-button-style {
  border: 2.5px solid rgb(32, 32, 219);
}

.background-gradation {
  background: linear-gradient(to right, rgb(247, 234, 189), rgb(189, 211, 239));
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0, 0.5);
}

.modal-window {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 2;
  background-color: white;
  border-radius: 2vw;
}

.modal-window-info-field {
  padding: 2vw 2vw .5vw 2vw;
}

.modal-window-button-field {
  padding: 1.5vw;
  background-color:rgb(201, 201, 201);
  border-radius: 0 0 2vw 2vw;
}

.close-button-style {
  background-color: rgb(248, 58, 58);
  color: white;
  font-size: 1.2vw;
  letter-spacing: 3px;
  border-radius: 1vw;
  padding: .5vw 1vw;
  transition: .3s;
}

.close-button-style:hover {
  cursor: pointer;
  opacity: .5;
}

.user-list-header {
  font-weight: bold;
  font-size: 1.8vw;
}

.copyright {
  font-size: 1vw;
  color: gray;
  text-align: center;
  margin-top: 6vw;
}